@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<BLT.WWW.ViewModels.HomeViewModel>
@{
    Layout = "_layout.cshtml";
}
<div class="row">
    <div class="col-md-3">
        @Html.Partial("recruiting.cshtml", @Model)
    </div>
</div>