<div class="row recruitment">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Recruitment Openings
                    <button class="btn btn-primary btn-apply">Apply!</button>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <div class="media well well-sm recruitment-well">
                            <div class="media-left media-middle">
                                <img class="img-responsive img-rounded" src="@Html.Content("/img/class_druid.jpg")" />
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Druid</h5>
                                Specs: <span class="text-success"><i>Balance</i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="media well well-sm recruitment-well">
                            <div class="media-left media-middle">
                                <img class="img-responsive img-rounded" src="@Html.Content("/img/class_mage.jpg")" />
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Mage</h5>
                                Specs: <span class="text-success"><i>Arcane, Frost</i></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>