@{
    Layout = "/admin/_adminlayout.cshtml";
}




<form action="~/admin/ksk/upload" method="POST" enctype="multipart/form-data">
    <div class="panel panel-default">
        <div class="panel-heading">Upload KSK Export Files</div>
        <div class="panel-body">
            <div class="form-group">
                <label for="lootlistfile">Loot File Export</label>
                <input id="lootlistfile" name="lootlistfile" type="file" />
                <p class="help-block">Text file containing the List XML Export from Konfer SK Addon.</p>
            </div>
            <div class="form-group">
                <label for="historyExportFile">History Export</label>
                <input id="historyExportFile" name="historyExportFile" type="file" />
                <p class="help-block">Text file containing the History Export from Konfer SK Addon.</p>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>




