@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<BLT.Core.Models.TestModel>
@{
    Layout = "_layout.cshtml";   
}


<div class="container">
    <div class="page-header">
        <h1>Loot Wheels as of 01/01/01</h1>
    </div>
    <div>Message: @Model.Message</div>
    <p class="lead">Some lead text</p>

</div>
