@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<BLT.Core.Models.TestModel>
@{
    Layout = "_layout.cshtml";   
}


<div class="container">
    This screen is going to show the most recent loot wheel as of some particular date.

</div>
