@{
    Layout = "/admin/_adminlayout.cshtml";
}

<span class="glyphicon glyphicon-arrow-left"></span> click something over there...
<br /><br />...to do something over here.<span class="glyphicon glyphicon-arrow-right"></span>
